
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 60% 98%;
    --foreground: 212 24% 18%;
    --card: 0 0% 100%;
    --card-foreground: 212 24% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 212 24% 18%;
    --primary: 213 78% 52%;
    --primary-foreground: 213 60% 98%; 
    --primary-light: 213 100% 96%;
    --primary-deep: 213 77% 41%;
    --secondary: 173 51% 55%;
    --secondary-light: 171 78% 94%;
    --accent-peach: 24 100% 77%;
    --muted: 214 27% 61%;
    --muted-foreground: 215 20% 35%;
    --accent: 173 51% 55%; 
    --accent-foreground: 212 24% 18%;
    --destructive: 356 71% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 48% 90%;
    --input: 214 48% 90%;
    --ring: 213 78% 52%;
    --success: 149 59% 46%;
    --warning: 43 100% 67%;
    --error: 356 71% 63%;
    --section-tint: 216 43% 96%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 10%;
    --foreground: 210 20% 90%;
    --card: 218 13% 13%;
    --card-foreground: 210 20% 90%;
    --popover: 220 13% 10%;
    --popover-foreground: 210 20% 90%;
    --primary: 213 78% 62%;
    --primary-foreground: 220 13% 10%; 
    --primary-light: 214 21% 15%;
    --primary-deep: 213 78% 72%;
    --secondary: 173 51% 65%;
    --secondary-light: 173 30% 20%;
    --accent-peach: 24 90% 70%;
    --muted: 216 10% 45%;
    --muted-foreground: 215 15% 75%;
    --accent: 173 51% 65%; 
    --accent-foreground: 210 20% 90%;
    --destructive: 356 71% 73%;
    --destructive-foreground: 0 0% 100%;
    --border: 216 10% 25%;
    --input: 216 10% 25%;
    --ring: 213 78% 62%;
    --success: 149 59% 56%;
    --warning: 43 100% 77%;
    --error: 356 71% 73%;
    --section-tint: 216 15% 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,h2,h3,h4,h5,h6 {
    @apply font-headline text-foreground;
  }
  p,div,span,a,li,button {
    @apply font-body;
  }
  h1{
    @apply text-5xl font-bold tracking-tighter;
  }
  h2{
    @apply text-4xl font-bold tracking-tighter;
  }
  h3{
    @apply text-2xl font-bold tracking-tighter;
  }

  section {
    @apply py-20 md:py-28;
  }
}

@layer utilities {
  .glassmorphism {
    @apply bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60;
  }
  .hero-gradient {
    background: linear-gradient(135deg, #EDF4FF 0%, #F3F6F9 100%);
  }
  .dark .hero-gradient {
     background: linear-gradient(135deg, hsl(var(--primary-light)) 0%, hsl(var(--background)) 100%);
  }
}
